.foodbox{
    padding: 10px 5px;

}

.foodbox img{
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    width: 100%; 
}

.foodbox h1{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.btn_pedido {
    color: bisque;
    background-color: rgb(66, 60, 60);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}