

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8">
            <a routerLink="../home" aria-label="back" class="btn btn-sm btn-warning mb-3"><i class="bi bi-arrow-left"></i> Voltar</a>
            <h1 class="titulo">Adicione uma Receita</h1>
        </div>
    </div>

    <form (ngSubmit)="cadastrarReceita()">
        <div class="row">
            <div class="col-lg-8 mt-2 mb-2 Box">
                     <h1>Título</h1>
                    <input [(ngModel)]="recipe.foodName" id="foodName" name="foodName" type="text" class="form-control" placeholder="Título" required/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-2 mb-2 Box">
                <h1>Descrição</h1>
                <input [(ngModel)]="recipe.foodDetails" id="foodDetails" name="foodDetails" type="text" class="form-control" placeholder="Descrição"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-2 mb-2 Box">
                <h1>Link da Imagem</h1>
                <input [(ngModel)]="recipe.foodImg" id="foodImg" name="foodImg" type="text" class="form-control" placeholder="Link da Imagem"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-2 mb-2 Box">
                <div class="d-flex justify-content-between">
                    <h1>Ingredientes</h1>
                    <button type="button" (click)="addIngredientInput()" class="btn btn-md btn-success mb-2 ml-2" aria-label="ingredientInputPlus"><i class="bi bi-plus-lg"></i></button>
                </div>

                <div *ngFor="let ingredient of ingredientInputs; let i = index; trackBy: trackByIndex">
                    <div class="input-group mb-3">
                        <input [(ngModel)]="ingredientInputs[i]" id="ingredientInput{{i}}" name="ingredientInput{{i}}" type="text" class="form-control" placeholder="Ingrediente {{ i + 1 }}" [attr.data-index]="'ingredientInput{{j}}' + i" />
                        <button *ngIf="ingredientInputs.length > 1" type="button" (click)="removeIngredientInput(i)" class="btn btn-md btn-danger" aria-label="ingredientInput"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modo de Preparo -->
        <div class="row"> 
            <div class="col-lg-8 mt-2 mb-2 Box">
                <div class="d-flex justify-content-between">
                    <h1>Modo de Preparo</h1>
                    <button type="button" (click)="addPreparationInput()" class="btn btn-md btn-success mb-2 ml-2" aria-label="preparationInputsPlus"><i class="bi bi-plus-lg"></i></button>
                </div>

                <div *ngFor="let ingredient of preparationInputs; let j = index; trackBy: trackByIndex">
                    <div class="input-group mb-3">
                        <input [(ngModel)]="preparationInputs[j]" id="preparationInputs{{j}}" name="preparationInputs{{j}}" type="text" class="form-control" placeholder="Passo {{ j + 1 }}" [attr.data-index]="'preparationInputs' + j" />
                        <button *ngIf="preparationInputs.length > 1" type="button" (click)="removePreparationInput(j)" class="btn btn-md btn-danger" aria-label="preparationInputs"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-8 mt-2 mb-2 text-left">
                <button type="submit" class="btn btn-md btn-success mt-3" aria-label="send">Enviar</button>
            </div>
        </div>
        
        
    </form>
</div>
