<div class="container mt-5 mb-5">
    <a routerLink="" class="btn btn-sm btn-warning mb-3"><i class="bi bi-arrow-left"></i> Voltar</a>

     <h1 class="text-center">Sobre Nós</h1>
<br>
        <p>
                Nosso cantinho culinário, onde a arte da gastronomia se une à paixão pela comida. Aqui, exploramos os sabores, aromas e texturas que transformam simples ingredientes em experiências memoráveis à mesa.
                <br><br>
                Nossa jornada gastronômica é guiada pela busca incessante pela excelência culinária. Cada prato é cuidadosamente concebido para celebrar a diversidade da culinária, incorporando tradições atemporais e inovações contemporâneas. Acreditamos que cozinhar é mais do que um ato de preparação, é uma forma de expressão artística que une pessoas, cria memórias e nutre almas.
                <br><br>
                Nossas receitas são fruto de experimentações apaixonadas, cuidadosamente testadas para garantir que cada passo seja claro e acessível, mesmo para os cozinheiros mais iniciantes. Quer você esteja buscando um prato reconfortante que evoca lembranças de infância, uma iguaria ousada para surpreender o paladar ou uma opção saudável que não sacrifica o sabor, você encontrará inspiração em nossas páginas.
                <br><br>
                Mais do que apenas uma coleção de receitas, este espaço é um convite para se aventurar na cozinha com confiança e criatividade. É um lembrete constante de que a culinária é uma jornada contínua, onde cada refeição é uma oportunidade de aprender, crescer e se deliciar. Junte-se a nós enquanto exploramos os segredos do mundo culinário e celebramos a alegria de compartilhar uma boa refeição.
                <br><br>
                Seja bem-vindo a uma experiência gastronômica que vai além do prato, e mergulhe de cabeça no universo de sabores que aguardam para serem descobertos. Seja bem-vindo ao Prato Perfeito.
                
        </p>
       
</div>